DATA*
params
Init_cons.dat
*.swp
*.swo
*.nc
*.o
.nfs*
model*
Outputs/
model
*.orig
depend.*
archive/
backup/
save/ncfiles/*
save/exec/*
./.git/objects/pack/pack-0cb618f3f4b94d572ea77291beb692bcc6e78668.pack
./.git/objects/pack/pack-0cb618f3f4b94d572ea77291beb692bcc6e78668.pack
