<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>84</integer>
	<key>LibraryBuildTag</key>
	<string>EEACC5E2-6F21-41EB-BD61-380BDF7753EE</string>
	<key>LibrarySchemaVersion</key>
	<integer>1801</integer>
</dict>
</plist>
